{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block main %}

  <section class="jumbotron text-center">
    <div class="container">
      <img src="{% static 'images/pic.jpeg' %}" alt="foto do João" class="rounded-circle" width="250px" height="250px">
      <h1 class="jumbotron-heading">João Victor Mattos</h1>
      <p class="lead text-muted">Quase analista de sistemas.</p>
      <p>
        <a href="#" class="btn btn-primary my-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
       
       {% for job in jobs %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{{ job.foto.url }}" width="100%">
            <div class="card-body">
              <p class="card-text">{{ job.descricao }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
       
      </div>
    </div>
  </div>

{% endblock %}